html{
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.outerdiv {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    
}

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background-color: #ffffff;
    height: 500px;
    z-index: 2;
    border: 1px solid #dadce0;
    border-radius: 8px;
    font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
}

.log-in-top{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-in-top h1 {
    margin-bottom: 25px;
    font-size: 20px;
}
.log-in-top h3 {
    margin-bottom: 20px;
    font-size: 24px;
}
.log-in-top h4 {
    margin-bottom: 40px;
    font-size: 16px;
}
.log-in-middle {
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-middle input {
    border-radius: 4px;
    color: #202124;
    font-size: 16px;
    height: 28px;
    margin: 2px;
    padding: 12px 14px;
    width: 345px;
    border: 1px solid #dadce0;
}

.log-in-middle input:hover {
    border: 2px solid #2c73e8;
}
.log-in-middle li {
    color: #d93125;
    list-style: none;
}
.login-button {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    justify-content: space-around;
}

.login-button a {
    text-decoration: none;
    color: #2c73e8;
    cursor: pointer;
    padding-top: 15px;
}
.login-button form {
    // width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-button button {
    background: #1a73e8;
    
    color: #ffffff;
    // line-height: 20px;
    font-weight: 500;
    outline: none;
    text-align: center;
    height: 40px;
    width: 90px;
    cursor: pointer;
}
.external-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.external-links ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.external-links a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    font-family: sans-serif;
}

